:root {
    --main: #71c9ce;
    --secondary : #ffde7d;
    --black : #222831;
    --light : #dbe2ef;
    --main-dark : #364f6b;
}



.sporteens-main{
    color: var(--main);
}

.sporteens-main-dark{
    color: var(--main-dark);
}

.sporteens-secondary{
    color: var(--secondary);
}

.sporteens-black{
    color: var(--black);
}

.sporteens-light {
    color: var(--light);
}



.sporteens-bg-main{
    background-color: var(--main);
}


.sporteens-bg-main-dark{
    background-color: var(--main-dark);
}

.sporteens-bg-secondary{
    background-color: var(--secondary);
}

.sporteens-bg-black{
    background-color: var(--black);
}

.sporteens-bg-light {
    background-color: var(--light);
}